---

---
<!DOCTYPE html>
<html lang="en">
<head>
<title>黄岸雅</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Greetings Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!--web font-->
	<link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!--//web font-->

</head>

<body>

<!-- //header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-md-4">
        <div id="logo">
			<h1> <a href="{{site.baseurl}}/index.html"><span class="fa fa-glass" aria-hidden="true"></span> 黄岸雅<span class="block">New Year's Eve</span></a></h1>
		</div>

        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-md-3">
                <li class="mr-lg-4 mr-3 active"><a href="#">Home</a></li>
                <li class="mr-lg-4 mr-3">
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                <input type="checkbox" id="drop-2"/>
                <ul class="drop-down">
                    <li><a href="#about">About</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#team">Organizers</a></li>
                    <li><a href="#sponsers">Sponsers</a></li>
                    <li><a href="#subscribe">Subscribe</a></li>
                </ul>
                </li>
                <li class="mr-lg-4 mr-3"><a href="#contact">Contact</a></li>
                <li class="mr-3 icons"><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                <li class="mr-3 icons"><a href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                <li class="mr-3 icons"><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                <li class=" icons"><a href="#"><span class="fa fa-youtube-play" aria-hidden="true"></span></a></li>
            </ul>
        </nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner" id="home">
	<div class="banner-layer">
		<div class="container">
			<div class="w3pvt_banner_info text-center">
				<div class="w3layouts_banner_margin">
					<h3 class="editContent">2020 </h3>
					<h2 class="editContent">Happy New Year</h2>
					<h4>Get ready to celebrate</h4>
					<a href="aa/index1.html">黄岸雅</a>
				</div>
			</div>
			<!-- To bottom button-->
			<div class="thim-click-to-bottom mt-5 pt-md-5">
				<div class="rotate">
					<a href="#about" class="scroll">
						<span class="fa fa-angle-double-down"></span>
					</a>
				</div>
			</div>
			<!-- //To bottom button-->
		</div>
	</div>
</section>
<!-- //banner -->
<div style="width: 100%;text-align: center;">
	<div class="col-md-8" style="margin:0 auto;">
		{{content}}
	</div>
</div>




</body>
</html>

